{%extends 'base.html'%}

<!DOCTYPE html>
{%block title%}
    Scrumptious Recipes
{%endblock title%}
{% load static %}
<html>
    <body>
        {%block content%}
        <header>
            <nav>
                <a href="{% url 'recipe_list' %}">Main Page</a>
            </nav>
        </header>
        <main>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button>Create</button>
            </form>
        </main>
        {%endblock content%}
    </body>
</html>
