{%extends 'base.html'%}
<!DOCTYPE html>
{%block title%}
    Scrumptious Recipes
{%endblock title%}
{% load static %}
    {%block content%}
<html>
    <body>
        <header>
            <nav>
                <a href="{% url 'recipe_list' %}">Main Page</a>
                <a href="{% url 'edit_recipe' recipe.id %}">Edit Recipe</a>
            </nav>
        </header>
        <main>
            <h1 class="green-title">
                {{ recipe.title }}
            </h1>
            <img src="{{recipe.picture}}" alt="{{recipe.title}}">
            <div>
                <p>{{recipe.description}}</p>
                <p>Written by {{recipe.author}}</p>
                4.3 stars
            </div>
            <h2>
                Ingredients
            </h2>
            <table class="ingredients-table">
                <thead>
                  <tr>
                    <th>Amount</th>
                    <th>Food Item</th>
                  </tr>
                </thead>
                <tbody>
                  {% for ingredient in recipe.ingredients.all %}
                  <tr>
                    <td>{{ingredient.amount}}</td>
                    <td>{{ingredient.food_item}}</td>
                  </tr>
                  {%endfor%}
                </tbody>
            </table>
            <h2>
                Steps
            </h2>
            <ol>
              {% for step in recipe.steps.all %}
              <li>{{step.instruction}}</li>
              {%endfor%}
            </ol>
        </main>
        {%endblock content%}
    </body>
</html>
