{%extends 'base.html'%}
<!DOCTYPE html>
{% load static %}

{%block title%}
    Scrumptious Recipes
{%endblock title%}
<html>
    <body>
        {%block content%}
        <header>
            <nav>
                <a href="{% url 'recipe_list' %}">Main Page</a>
            </nav>
        </header>
        <main>
            <form method="post">
                {% csrf_token %}
                {{ recipe_form.as_p }}
                <button>Save</button>
            </form>
        </main>
        {%endblock content%}
    </body>
</html>
