{%extends 'base.html'%}

{%block title%}
    Scrumptious Recipes
{%endblock title%}

<!DOCTYPE html>
{% load static %}
<html>
    <body>
        {%block content%}
        <header>
            <nav>
                <a href="{% url 'recipe_list' %}">Main Page</a>

                {% if user.is_authenticated %}
                Hello, {{user.username}}
                <a href="{% url 'user_logout' %}">Logout</a>
                <a href="{% url 'create_recipe' %}">Create a recipe</a>
                <a href="{% url 'my_recipe_list' %}">My recipes</a>
                {%else%}
                <a href="{% url 'signup' %}">Sign Up</a>
                <a href="{% url 'user_login' %}">Login</a>
                {%endif%}
            </nav>
        </header>

        <main>
            <h1 class="green-title">
                Scrumptious Recipes
            </h1>
            <h2>
                All the food that's fit to eat
            </h2>
            <div id="scrumptious-grid">
                {% for recipe in recipe_list %}
                <div>
                    <h3>
                        <a href="{% url 'show_recipe' recipe.id %}">{{ recipe.title }}</a>
                    </h3>
                    <p>
                        {{recipe.created_on|date:"SHORT_DATE_FORMAT"}}
                    </p>
                    <img src="{{ recipe.picture}}" alt="{{ recipe.title }}">
                    <div>
                        4.3 stars
                    </div>
                </div>
                {% endfor %}
            </div>
        </main>
        {%endblock content%}
    </body>
</html>
