@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@0;1&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

main {
    padding: 16px;
}

a {
    text-decoration: none;
    color: #5F7161;
}

a:visited {
    color: #5F7161;
}

.green-title {
    color: #6D8B74;
}

#scrumptious-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

tr:nth-child(even) {
    background-color: rgb(220, 220, 220);
}

th {
    background-color: #5F7161;
    color: #EFEAD8;
}

img {
    height: 200px;
}

nav {
    border-bottom: 1px solid #5F7161;
    padding: 16px;
    background-color: #D0C9C0;
}

footer {
    background-color:#5F7161;
    color: #D0C9C0;
    width: 100%;
    height: 25px;
    display: flex;
    position: fixed;
    left:10;
    right:10;
    bottom:0;
    justify-content: center;
        align-items: center;
    margin-top: 25px;
}

a:hover {
    color: green;
}
